
.textSectionContainer {
    background-color: #1a1a1a; 
    padding: 40px; 
    margin: 20px 0; 
    color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .h2 {
    font-size: 2rem; 
    color: #ffcc00;
    margin-bottom: 20px; 
  }
  
  .p {
    font-size: 1.2rem; 
    line-height: 1.5; 
  }
  

  